/* You can add global styles to this file, and also import other style files */

$color-dark: #191a19;
$color-low-mid: #1e5128;
$color-high-mid: #4e9f3d;
$color-bright: #d8e9a8;

html {
  font-family: monospace;
  font-size: 16px;
  color: $color-bright;
}

body {
  background: $color-dark;
}

button {
  background: $color-high-mid;
  border-color: $color-low-mid;
  border-radius: 8px;
  font-family: monospace;
  font-size: 32px;
  color: $color-dark;
}

#home-button {
  float: left;
  z-index: 2;
}

#activate-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
